li{
			background-color: wheat;
			color: white;
			width: 300px;
			width: 300px;


			border: dotted 3px black;
			font-size: 50px;
			text-align: justify;
			text-decoration: underline;
		}